.wrapper
  .inner(infinite-scroll="showMorePokemons()")
    .search
      input(
        '[(ngModel)]'="findingWord", '(input)'="findPokemons()", id="name", maxlength="20",
        autocomplete="off", placeholder="Pokemon query..." '#nameInp'=''
      )
      .cancel('[ngClass]'="{'active': findingWord}", '(click)'="findingWord = ''; findPokemons()")
        .icon-squared-cross
      .bar([class]="findingWord ? 'ok' : ''")
    .no-result(*ngIf="showNoResult") No result
    .pokemon-list
      include ./_includes/pokemon-item.pug
    .btn.btn-show(*ngIf="pokemonService.showMoreBtn$ | async" '(click)'="showMorePokemons()") Show more...

  .pok_modal(*ngIf='showModalPokemon')
    .blur('(click)'="toggleModal()")
    .modal_inner
      include ./_includes/pokemon-modal.pug
