.wrapper
  .inner
    .search
      input(
        '[(ngModel)]'="findingWord", id="name", maxlength="20",
        autocomplete="off", placeholder="Pokemon"
      )
      .bar([class]="findingWord ? 'ok' : ''")
    .pokemon-list
      include ./_includes/pokemon-item.pug

  .pok_modal(*ngIf='showModalPokemon')
    .blur('(click)'="toggleModal()")
    .modal_inner
      include ./_includes/pokemon-modal.pug
  .btn.btn-show('(click)'="showMorePokemons()") Show more...