
<div class="wrapper">
  <div class="inner">
    <div class="pokemon-list">
      <div class="pokemon-item" *ngFor="let pokemon of listPokemons; let index = index" (click)="toggleModal(index)">
        <div class="pok_photo"><img [src]="pokemonService.getPhotoUrl(index)" alt="Pokemon photo"/></div>
        <div class="pok_content">
          <div class="pok-content_name">{{ pokemon.name }}</div>
          <div class="pok-content_number">#{{ index+1 }}</div>
          <ul class="pok-content_list" *ngIf="pokemon.abilities">
            <li class="ability" *ngFor="let ability of pokemon.abilities">{{ ability.name }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="pok_modal" *ngIf="showModalPokemon">
    <div class="blur" (click)="toggleModal()"></div>
    <div class="modal_inner">
      <div class="modal-border">
        <div class="pok_photo">
          <div class="btn btn-close" (click)="toggleModal()"></div><img [src]="pokemonService.getPhotoUrl(selectedPokemon.id)"/>
        </div>
        <div class="pok-content_name">{{ selectedPokemon.name }}</div>
        <div class="pok-content_number">#{{ selectedPokemon.id+1 }}</div>
        <ul class="pok-content_list" *ngIf="selectedPokemon.abilities">
          <li class="ability" *ngFor="let ability of selectedPokemon.abilities">
             {{ ability.name }}
            <ul class="ability-descr" *ngIf="pokemonsAbilities">
              <li>{{ pokemonsAbilities[ability.url] }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="btn btn-show" (click)="showMorePokemons()">Show more...</div>
</div>