.wrapper
  .inner
    .search
      input(
        '[(ngModel)]'="findingWord", '(input)'="findPokemons()", id="name", maxlength="20",
        autocomplete="off", placeholder="Pokemon query..."
      )
      .bar([class]="findingWord ? 'ok' : ''")
    .no-result(*ngIf="listPokemons.length === 0").no-result No result
    .pokemon-list
      include ./_includes/pokemon-item.pug

  .pok_modal(*ngIf='showModalPokemon')
    .blur('(click)'="toggleModal()")
    .modal_inner
      include ./_includes/pokemon-modal.pug
  .btn.btn-show(*ngIf="showBtnMore" '(click)'="showMorePokemons()") Show more...