
<div class="pokemon-item" *ngFor="let pokemon of listPokemons" (click)="toggleModal(pokemon.id)">
  <div class="pok_photo"><img [src]="pokemonService.getPhotoUrl(pokemon.id)" alt="Pokemon photo" onError="this.src='https://i.ytimg.com/vi/Y-Gq-hVZWM0/maxresdefault.jpg'"/></div>
  <div class="pok_content">
    <div class="pok-content_name">{{ pokemon.name }}</div>
    <div class="pok-content_number">#{{ pokemon.id }}</div>
    <ul class="pok-content_list" *ngIf="pokemon.abilities">
      <li class="ability" *ngFor="let ability of pokemon.abilities">{{ ability.name }}</li>
    </ul>
  </div>
</div>