
<div class="modal-border">
  <div class="pok_photo">
    <div class="btn btn-close" (click)="toggleModal()"></div><img [defaultImage]="'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw=='" [lazyLoad]="selectedPokemon.src" alt="Pokemon photo"/>
  </div>
  <div class="pok-content_name">{{ selectedPokemon.name }}</div>
  <div class="pok-content_number">#{{ selectedPokemon.id+1 }}</div>
  <ul class="pok-content_list" *ngIf="selectedPokemon.abilities">
    <li class="ability" *ngFor="let ability of selectedPokemon.abilities">
       {{ ability.name }}
      <div class="loading" *ngIf="!pokemonsAbilities[ability.url]">searching...</div>
      <div>{{ pokemonsAbilities[ability.url] }}</div>
    </li>
  </ul>
</div>