.pokemon-item(*ngFor="let pokemon of listPokemons", '(click)'="toggleModal(pokemon.id)")
  .pok_photo
    img(
      [src]="pokemonService.getPhotoUrl(pokemon.id)", alt="Pokemon photo"
      onError="this.src='https://i.ytimg.com/vi/Y-Gq-hVZWM0/maxresdefault.jpg'"
    )
  .pok_content
    .pok-content_name {{ pokemon.name }}
    .pok-content_number \#{{ pokemon.id }}
    ul.pok-content_list(*ngIf="pokemon.abilities")
      li.ability(*ngFor="let ability of pokemon.abilities") {{ ability.name }}