.modal-border
  .pok_photo
    .btn.btn-close('(click)'="toggleModal()")
    img(
      [defaultImage]="'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw=='",
      [lazyLoad]="selectedPokemon.src", alt="Pokemon photo"
    )
  .pok-content_name {{ selectedPokemon.name }}
  .pok-content_number \#{{ selectedPokemon.id+1 }}
  ul.pok-content_list(*ngIf="selectedPokemon.abilities")
    li.ability(*ngFor="let ability of selectedPokemon.abilities") 
      | {{ ability.name }}
      .loading(*ngIf="!pokemonsAbilities[ability.url]") searching...
      div {{ pokemonsAbilities[ability.url] }}
